<figure>
  <div class="media author-card" itemscope itemtype="http://schema.org/Person">
    <figcaption>
      <img class="portrait" src="{{ .Params.avatar }}" alt="" />
    <h5 class="card-title" itemprop="name"><a href="{{ .Permalink }}" class="block-link">{{ .Params.name }}</a></h5>
<h6 class="card-subtitle">
      {{ .Summary }}
    </h6>
    <p>
      <a href="{{ .Permalink }}" class="block-link">
        Mais artigos de {{ .Params.name }}
      </a>
    </p>
  </figcaption>
  </div>
</figure>
