<figure>
  <div class="media author-card" itemscope itemtype="http://schema.org/Person">
  <img class="portrait" src="{{ .Params.avatar }}" alt="" />
  <figcaption>
    <h5 class="card-title" itemprop="name"><a href="{{ .Permalink }}" class="block-link"></a></h5>
        Mais artigos de {{ .Params.name }}
<h6 class="card-subtitle">
      {{ .Summary }}
    </h6>
    <p>
      <a href="{{ .Permalink }}" class="block-link">
        Mais artigos de {{ .Params.name }}
      </a>
    </p>
  </figcaption>
  </div>
</figure>
