<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo-7do2.png" alt="7do2 logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Novidades</p>
			<p>Receba artigos fantásticos no seu e-mail e não perca mais nada!</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f5 b lh-title mb1 primary">7do2</h3>
				<ul class="mb3">
					<li><a href="/autores" class="card-subtitle">Autores</a></li>
					<li><a href="/Ppliticas" class="card-subtitle">Políticas do site</a></li>
					<li><a href="/contato" class="card-subtitle">Contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f5 b lh-title mb1 primary">Descubra mais</h3>
				<ul class="mb3">
					<li><a href="/tags/" class="card-subtitle">Assuntos do blog</a></li>
					<li><a href="/tags/finanças" class="card-subtitle">Dicas de Finaças</a></li>
					<li><a href="/" class="card-subtitle">Curso de Finaças</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f5 b lh-title mb2 primary">Redes sociais</h3>
				<ul class="mhn2">
					<li class="dib ph2 raise">
  <a href="#" class="link fb db relative br-100 pa2">
      <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-facebook"></use>
    </svg>
  </a>
</li>

					<li class="dib ph2 raise">
  <a href="#" class="link tw db relative br-100 pa2">
    <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-twitter"></use>
    </svg>
  </a>
</li>

					<li class="dib ph2 raise">
  <a href="#" class="link it db relative br-100 pa2">
    <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-instagram"></use>
    </svg>
  </a>
</li>

					<li class="dib ph2 raise">
  <a href="#" class="link bg-white black db relative br-100 pa2">
    <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-vimeo"></use>
    </svg>
  </a>
</li>

				</ul>
			</div>
		</div>
	</div>
	<div class="tags-card tc">Feito com ❤️, por: <span class="tags">
      <a href="https://www.lucasdesign.eu.org/">
       Lucas Designer
	</a></div>
</footer>
{{ partial "svg" . }}
<link rel="stylesheet" href="/custom.css" />	
</body>
</html>
