<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo-7do2.png" alt="7do2 logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Novidades</p>
			<p>Receba artigos fantásticos no seu e-mail e não perca mais nada!</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">7do2</h3>
				<ul class="mb3">
					<li><a href="/" class="link">início</a></li>
					<li><a href="/values" class="link">Sobre</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Descubra mais</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Dicas de SEO</a></li>
					<li><a href="/contact" class="link">Entre em contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Redes sociais</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<link rel="stylesheet" href="/custom.css" />
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
       <script src="https://cdn.ampproject.org/v0.js"></script>
</body>

</html>
