<div class="mb4">
<form method="POST" action="{{ .Permalink }}#Obrigado">
  <div class="flex-l mhn1-l">
  <input name="fields[path]" type="hidden" value="3fbfc0a172d5b2f7304ca6d0b66e79b0">
  <div class="ph1-l w-50-l"><input name="fields[name]" type="text" /></div>
  <div class="ph1-l w-50-l"><input name="fields[email]" type="email" /></div>
  <textarea name="fields[message]"></textarea>
  </div>
  </div>
  <div class="tc">
  <button type="submit">Postar</button> </div>
</form>
<div id="Obrigado" class="dialog">
<h3>Obrigado</h3>
  <p>Seu comentário será aprovado em breve ou NÃO.</p>
