  <!-- JSON-LD -->
    {{ if .IsHome }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ .Permalink }}",
      "name": "{{ .Site.Title }}",
       "author": {
          "@type": "Organization",
          "name": "{{ .Site.Params.author }}"
        },
      "description": "{{ .Site.Params.description }}",
      "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
    }
    </script>
    {{ end }}
    {{ if .IsPage }}
        <script type="application/ld+json">
        {{if eq .Section "post"}}
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "headline": "{{ .Title }}",
            "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",
            "url": "{{ .Permalink }}",
            "datePublished": "{{ time .Date }}",
            "description": "{{ .Description }}",
            "author": {
                "@type": "Organization",
                "name": "{{ .Title }}"
            }
         }
        {{ else }}
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "{{ .Permalink }}",
          "name": "{{ .Title }}",
           "author": {
              "@type": "Organization",
              "name": "{ .Params.name }}"
            },
          "description": "{ .Site.Params.description }}",
        }
        </script>
        {{ end }}
     {{ end }}
