{{ define "main" }}
<article>
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "02.01.2006" }}</p>
      <p>{{ .ReadingTime }} minutos de leitura</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
  </article>
<div class="disqus">
 {{ $comments_enabled := and $.Site.DisqusShortname (not (or $.Site.Params.disable_comments $.Params.disable_comments)) }}
  {{ if and $comments_enabled ($.Site.Params.comment_count | default true) }}
  <span class="middot-divider"></span>
  <a href="{{ $.Permalink }}#disqus_thread"><!-- Count will be inserted here --></a>
  {{ end}}
</div>
{{ end }}
