{{ define "main" }}
<article>
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "02.01.2006" }}</p>
      <p>{{ .ReadingTime }} minutos de leitura</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
  </article>
<div class="disqus">
 {{- if .Site.Params.staticman -}}
    &nbsp;|&nbsp;<i class="fas fa-comment"></i>&nbsp;
    {{ $slug := replace .URL "/" "" }}
    {{ if .Site.Data.comments }}
      {{ $comments := index $.Site.Data.comments $slug }}
      {{ if $comments }}
        {{ if gt (len $comments) 1  }}
          {{ len $comments  }} {{ i18n "moreComment" }}
        {{ else }}
          {{ len $comments  }} {{ i18n "oneComment" }}
        {{ end }}
      {{ else }}
        0 {{ i18n "oneComment" }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
