{{ define "main" }}
<article>
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
     <p class="byline">
    {{- range $index, $element := .Params.authors }}
  {{ if gt $index 0 }} & {{ end }}
  <a href="/authors/{{ urlize . }}">{{ . }}</a>
{{ end }}
   | {{ .Date.Format "02.01.2006" }}</p>
      <p>{{ .ReadingTime }} minutos de leitura</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>{{ end }}
	<div class="tags-card">Tag(s):{{ range .Params.tags }}
	 <span class="tags"><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a></span>
	 {{ end }}</div>
	<footer>
    <h2>About the {{ cond (eq (len .Params.authors) 1) "author" "authors" }}</h2>
    {{ .Render "author-figure" }}
  </footer>
  </article>				
  


